* {
  font-family: "Nunito Sans", sans-serif;
}

header {
  background-color: bisque;
  border-bottom: 5px solid forestgreen;
  height: 65px;
}

h1,
h2 {
  text-align: center;
  padding: 20px;
}

ul {
  text-align: right;
  padding-top: 20px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 0.4em;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

main {
  background-color: bisque;
  height: 100%;
  margin-top: -10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.p1 {
  text-align: center;
  margin-bottom: 40px;
}

section {
  position: relative;
  left: 0;
  bottom: 0;
}

#rcorners2 {
  border-radius: 15px;
  border: 2px solid forestgreen;
  padding: 0;
  width: 694px;
  height: 136px;
  position: relative;
  top: 119px;
  left: 384px;
  margin-top: -156px;
}

form {
  width: 80%;
  margin: 0 auto;
  margin-top: 11px;
}

label,
input {
  display: inline-block;
}

label {
  width: 30%;
  text-align: right;
}

label + input {
  width: 31%;
  margin: 0 30% 0 4%;
}

input + input {
  position: relative;
  left: 47%;
  margin-top: 15px;
  margin-bottom: 15px;
}

footer {
  font-size: 8px;
  margin-top: 40px;
  background-color: bisque;
  border-bottom: 5px solid forestgreen;
}

/* I took my form and input code from this website https://stackoverflow.com/questions/13204002/align-form-elements-in-css */
